cachetools
certifi
chardet
click
dill
enum34
Flask
future
futures
gunicorn
google-auth
google-cloud-speech
google-gax
googleapis-common-protos
grpc-google-iam-v1
grpcio
honcho
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
oauth2client
ply==3.8
protobuf
pyasn1
pyasn1-modules
requests
rsa
six
urllib3
Werkzeug
dialogflow
google-cloud
google-cloud-texttospeech
